<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.bfcam.iOSNativeSharing"
	version="1.0.0">

	<name>iOS Native Sharing for PhoneGap/Cordova</name>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/iOSNativeSharing.js" name="iOSNativeSharing">
        <clobbers target="iOSNativeSharing" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="iOSNativeSharing">
                <param name="ios-package" value="iOSNativeSharing" />
            </feature>
        </config-file>

        <!-- Note: the ios src is based off src/ios implicitly -->
        <header-file src="src/ios/iOSNativeSharing.h" />
        <source-file src="src/ios/iOSNativeSharing.m" />
		
		<framework src="social.framework" weak="true" />
    </platform>
</plugin>
